.how-its-made-section {
  background-color: #fafafa;
  margin-bottom: 100px;
}

.him-header {
  color: #111;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.16; /* 116.667% */
  letter-spacing: -0.72px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.him-span {
  color: #fd9222;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.16;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}

.him-video-div {
  overflow: hidden;
  border-radius: 15px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%),
    url(../images/how-its-made/imgvideodescop.jpg),
    lightgray -10.819px -343.839px / 103.473% 236.295% no-repeat;
  max-height: 400px;
  max-width: 600px;
}

.him-content {
  display: flex;
  padding: 32px;
  justify-content: start;
  flex-direction: column;
  border-radius: 15px;
  background: #fff;
}

.him-content-text {
  color: #111;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.33; /* 133.333% */
  margin: 0;
}
.him-content-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  font-family: Montserrat;
}

.him-content-item {
  color: #111;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28; /* 128.571% */
  letter-spacing: -0.28px;
  display: flex;
}

/* Style dla obrazu */
.video-container img {
  width: 100%;
  height: auto;
}

/* Style dla iframe */
.video-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
  padding: 0;
}

.him-svg {
  margin-right: 5px;
}
@media screen and (min-width: 1200px) {
  .how-its-made-section {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 128px;
  }
  .him-div {
    display: flex;
    gap: 20px;
  }
  .him-content-list {
    gap: 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .how-its-made-section {
    min-width: auto;
    padding-right: 77px;
    padding-left: 77px;
    margin-bottom: 100px;
  }
  .him-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .him-content {
    margin-top: 20px;
    max-width: 614px;
  }
  .him-content-list {
    margin-bottom: 0px;
    margin-top: 28px;
    gap: 18px;
  }
  .him-video-div {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%),
      url(../images/how-its-made/imgvideotablet.jpg),
      lightgray -10.819px -343.839px / 103.473% 236.295% no-repeat;
  }
}
@media screen and (max-width: 768px) {
  .how-its-made-section {
    min-width: auto;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 72px;
  }
  .him-header,
  .him-span {
    font-size: 20px;
    line-height: 1.2; /* 120% */
    letter-spacing: -0.6px;
    margin-bottom: 32px;
  }
  .him-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .him-video-div {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%),
      url(../images/how-its-made/imgvideomobile.jpg),
      lightgray -10.819px -343.839px / 103.473% 236.295% no-repeat;
    max-width: 335px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .him-content {
    margin-top: 28px;
    padding: 20px 14px;
    max-width: 335px;
    height: 456px;
  }
  .him-content-list {
    margin: 20px 0;
    gap: 18px;
  }
}
