/* ======= DESKTOP ======= */

@media screen and (min-width: 1200px) {
  .subscribe {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
  }

  .container-subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 72px 367px 72px 366px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
      url(../images/subscribe/SubcribeDesktop.jpg),
      lightgray 0px -481.157px / 100% 375.122% no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    gap: 24px;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .container-subscribe {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
        url(../images/subscribe/Subcribe@2xDesktop.jpg),
        lightgray 0px -481.157px / 100% 375.122% no-repeat;
    }
  }

  .subscribe-title {
    font-family: 'Montserrat' sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.16;
    letter-spacing: -0.72px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
  }

  .subscribe-description {
    font-family: 'Montserrat' sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.28px;
    color: #fff;
    text-align: center;
    padding: 24px;
  }

  .subscribe-button {
    display: flex;
    align-items: flex-start;
    padding: 14px 40px;
    gap: 14px;
    border-radius: 100px;
    background: #fd9222;
    font-family: 'Montserrat' sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #fff;
  }
  .subscribe-button:hover {
    background-color: #fcf1e0;
    color: #fd9222;
  }
  .subscribe-photo {
    background: url(../images/subscribe/subscribe-desktop.jpg), lightgray 50% / cover repeat-x;
    height: 196px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }

  .subscribe-modal {
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
  }

  .subscribe-modal-class {
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 538px;
    height: 412px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
  }
  .subscribe-button-modal {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    background-color: transparent;
  }

  .subscribe-modal-form {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
  }

  .subscribe-modal-form-email {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    padding-left: 36px;
  }

  .subscribe-modal-text {
    color: #111;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.16;
    letter-spacing: -0.72px;
    text-transform: uppercase;
    width: 298px;
    padding: 0px 0px 0px 40px;
    gap: 28px;
    margin-top: 216px;
  }

  .subscribe-modal-span {
    color: #fd9222;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.16;
    letter-spacing: -0.72px;
    text-transform: uppercase;
  }

  .subscribe-svg-modal {
    fill: #fff;
    stroke: #fff;
  }

  .subscribe-svg-modal:hover {
    fill: #fd9222;
    stroke: #fd9222;
  }

  .subscribe-modal-email {
    display: flex;
    width: 313px;
    height: 52px;
    padding: 14px 24px;
    gap: 40px;
    border-radius: 30px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
  }

  .subscribe-modal-input {
    display: flex;
    align-items: center;
    gap: 21.78px;
    flex: 1 0 0;
    width: 265px;
    border: none;
  }

  .subscribe-modal-input::placeholder {
    color: rgba(64, 64, 64, 0.3);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.36px;
  }

  .subscribe-modal-button {
    display: flex;
    width: 137px;
    height: 52px;
    padding: 17px 40px;
    justify-content: center;
    align-items: center;
    gap: 14px;
    border-radius: 100px;
    background: #fd9222;
  }

  .subscribe-button-text {
    left: 32px;
    top: 17px;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

/* ======= MOBILE ======= */

@media screen and (max-width: 767px) {
  .subscribe {
    width: 375px;
    margin: 0 auto;
  }
  .subscribe-button:hover {
    background-color: #fcf1e0;
    color: #fd9222;
  }
  .subscribe-photo {
    background: url(../images/subscribe/subscribe-mobile.jpg), lightgray 50% / cover repeat-x;
    height: 169px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }

  .subscribe-modal {
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
  }

  .subscribe-modal-class {
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 311px;
    min-height: 350px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
  }

  .subscribe-button-modal {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    background-color: transparent;
  }

  .subscribe-modal-form {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
  }

  .subscribe-modal-form-email {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    padding-left: 12px;
  }

  .subscribe-modal-text {
    color: #111;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.6px;
    text-transform: uppercase;
    width: 263px;
    padding: 0px 0px 0px 24px;
    gap: 28px;
    margin-top: 185px;
  }

  .subscribe-modal-span {
    color: #fd9222;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.6px;
    text-transform: uppercase;
  }

  .subscribe-svg-modal {
    fill: #fff;
    stroke: #fff;
  }

  .subscribe-svg-modal:hover {
    fill: #fd9222;
    stroke: #fd9222;
  }

  .subscribe-modal-email {
    display: flex;
    width: 263px;
    height: 52px;
    padding: 14px 18px;
    gap: 40px;
    border-radius: 25px;
    align-items: flex-start;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    box-shadow: 0px 5.44492px 5.44492px 0px rgba(0, 0, 0, 0.03);
  }

  .subscribe-modal-input {
    display: flex;
    align-items: center;
    gap: 21.78px;
    flex: 1 0 0;
    width: 263px;
    border: none;
  }

  .subscribe-modal-input::placeholder {
    color: rgba(64, 64, 64, 0.3);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
  }

  .subscribe-modal-button {
    position: absolute;
    right: 24px;
    display: flex;
    width: 100px;
    height: 52px;
    padding: 14px 28px;
    justify-content: center;
    align-items: center;
    gap: 14px;
    border-radius: 100px;
    background: #fd9222;
  }

  .subscribe-button-text {
    left: 32px;
    top: 17px;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .subscribe {
    width: 375px;
    margin: 0 auto;
  }

  .container-subscribe {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    padding-top: 62px;
    padding-bottom: 63px;
    gap: 24px;
    flex-shrink: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
      url(../images/subscribe/SubscribeMobile.jpg),
      lightgray -412px -477.287px / 320% 372.105% no-repeat;
    max-width: 375px;
    height: 370px;
    margin: 0 auto;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .container-subscribe {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
        url(../images/subscribe/Subcribe@2xMobile.jpg),
        lightgray -412px -477.287px / 320% 372.105% no-repeat;
    }
  }

  .subscribe-title {
    font-family: 'Montserrat' sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.6px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
  }

  .subscribe-description {
    font-family: 'Montserrat' sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.28px;
    color: #fff;
    text-align: center;
    width: 326px;
  }

  .subscribe-button {
    display: flex;
    align-items: flex-start;
    padding: 12px 20px;
    gap: 14px;
    border-radius: 100px;
    background: #fd9222;
    font-family: 'Montserrat' sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #fff;
  }
}

/* ======= TABLET ======= */

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe {
    max-width: 768px;
    margin: 0 auto;
  }
  .subscribe-button:hover {
    background-color: #fcf1e0;
    color: #fd9222;
  }
  .container-subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 72px 150px 72px 151px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
      url(../images/subscribe/SubcribeTablet.jpg),
      lightgray 0px -481.157px / 100% 375.122% no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    gap: 24px;
    max-width: 768px;
    margin: 0 auto;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .container-subscribe {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
        url(../images/subscribe/Subcribe@2xTablet.jpg),
        lightgray -215px -481.157px / 156.25% 375.122% no-repeat;
    }
  }

  .subscribe-title {
    font-family: 'Montserrat' sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.16;
    letter-spacing: -0.72px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
  }

  .subscribe-description {
    font-family: 'Montserrat' sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.28px;
    color: #fff;
    text-align: center;
  }

  .subscribe-button {
    display: flex;
    align-items: flex-start;
    padding: 14px 40px;
    gap: 14px;
    border-radius: 100px;
    background: #fd9222;
    font-family: 'Montserrat' sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #fff;
  }

  .subscribe-photo {
    background: url(../images/subscribe/subscribe-tablet.jpg), lightgray 50% / cover repeat-x;
    height: 196px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }

  .subscribe-modal {
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
  }

  .subscribe-modal-class {
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 538px;
    min-height: 412px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
  }

  .subscribe-button-modal {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    background-color: transparent;
  }

  .subscribe-modal-form {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
  }

  .subscribe-modal-form-email {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    padding-left: 36px;
  }

  .subscribe-modal-text {
    color: #111;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.16;
    letter-spacing: -0.72px;
    text-transform: uppercase;
    width: 298px;
    padding: 0px 0px 0px 40px;
    gap: 28px;
    margin-top: 216px;
  }

  .subscribe-modal-span {
    color: #fd9222;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.16;
    letter-spacing: -0.72px;
    text-transform: uppercase;
  }

  .subscribe-svg-modal {
    fill: #fff;
    stroke: #fff;
  }

  .subscribe-svg-modal:hover {
    fill: #fd9222;
    stroke: #fd9222;
  }

  .subscribe-modal-email {
    display: flex;
    width: 313px;
    height: 52px;
    padding: 14px 24px;
    gap: 40px;
    border-radius: 30px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
  }

  .subscribe-modal-input {
    display: flex;
    align-items: center;
    gap: 21.78px;
    flex: 1 0 0;
    width: 265px;
    border: none;
  }

  .subscribe-modal-input::placeholder {
    color: rgba(64, 64, 64, 0.3);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.36px;
  }

  .subscribe-modal-button {
    display: flex;
    width: 137px;
    height: 52px;
    padding: 17px 40px;
    justify-content: center;
    align-items: center;
    gap: 14px;
    border-radius: 100px;
    background: #fd9222;
  }

  .subscribe-button-text {
    left: 32px;
    top: 17px;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
