<section>
    <div class="adv-cont adv-bacground adv-font">
        <h2 class="visually-hidden">/</h2>
        <ul class="adv-list-nodot adv-list-cont">
            <li class="adv-point-cont">
                <div class="adv-svg">
                    <svg width="32" ; height="32">
                        <use href="./images/advantages/icon.svg#icon-chocolate-bar"></use>
                    </svg>
                </div>
                <h3 class="adv-header-cont adv-header-font">
                    Unsurpassed taste
                </h3>
                <p class="adv-par-cont adv-par-font">
                    Crafted with the finest quality cocoa beans and a dedication to perfection, each bite is a decadent experience that
                    simply cannot be matched. Savor the richness and complexity of our Unsurpassed Taste and discover a new level of
                    chocolate bliss.
                </p>
            </li>
            <li class="adv-point-cont">
                <div class="adv-svg">
                    <svg width="32" ; height="32">
                        <use href="./images/advantages/icon.svg#icon-dollar"></use>
                    </svg>
                </div>
                <h3 class="adv-header-cont adv-header-font">
                    Affordable price
                </h3>
                <p class="adv-par-cont adv-par-font">
                    Indulge in high-quality chocolate without breaking the bank with Simply Chocolate's selection of affordable treats.
                    Enjoy mouth-watering truffles and velvety chocolate bars without sacrificing taste or quality. Browse our selection and
                    indulge in affordable luxury today.
                </p>
            </li>
            <li class="adv-last-point-cont">
                <div class="adv-svg">
                    <svg width="32" ; height="32">
                        <use href="./images/advantages/icon.svg#icon-spoon"></use>
                    </svg>
                </div>
                <h3 class="adv-header-cont adv-header-font">
                    Own production
                </h3>
                <p class="adv-par-cont adv-par-font">
                    We take pride in our own production process, ensuring that every step is carefully crafted to perfection. From selecting
                    the finest ingredients to handcrafting each piece, our attention to detail is evident in every bite.
                </p>
            </li>
        </ul>
    </div>
</section>