<section class="hero-cont">
  <h1 class="visually-hidden">/</h1>
  <div class="hero-backround hero-font hero-radius">
    <h2 class="hero-paragraph-cont hero-paragraph-font">
      Treat yourself or a loved one to our finest ingredients for a moment of pure delight!
    </h2>
    <div class="hero-buttons-cont">
      <div class="hero-buttons-div">
        <button type="button" class="hero-button-style hero-button-buy" modal-buy-open-two>
          Buy now
        </button>
        <a
          type="button"
          class="hero-button-style hero-button-made hero-no-decoration"
          href="#how-its-made"
          >How it’s made</a
        >
      </div>
      <div class="hero-scroll-div">
        <a class="hero-button-link">scroll down</a>
        <a class="hero-button-v" href="#footer">
          <svg width="22" height="22">
            <use href="./images/header/icon.svg#icon-v"></use>
          </svg>
        </a>
      </div>
    </div>

    <!-- /* OKNO MODALNE*/ -->

    <div class="backdrop is-hidden" modal-buy-two>
      <div class="buy-now-modal">
        <button type="button" class="bn-close-btn" modal-buy-close-two>
          <svg class="x-icon" width="28" height="28">
            <use href="./images/icons.svg#icon-x-close"></use>
          </svg>
        </button>
        <p class="buy-now-modal-text">BUY <span class="bn-modal-span">NOW</span></p>

        <div class="bn-modal-list">
          <ul class="bn-modal-img">
            <li class="bn-modal-item">
              <img src="./images/top-sellers/buynow1.jpg" alt="dark chocolate" width="120" />
              <p class="bn-modal-item-text">100 g</p>
            </li>
            <li class="bn-modal-item">
              <img src="./images/top-sellers/buynow2.jpg" alt="white chocolate" width="120" />
              <p class="bn-modal-item-text">200 g</p>
            </li>
            <li class="bn-modal-item">
              <img
                src="./images/top-sellers/buynow3.jpg"
                alt="two tables of chocolate"
                width="120"
              />
              <p class="bn-modal-item-text">300 g</p>
            </li>
          </ul>
        </div>

        <form name="signup_form" autocomplete="on" class="bn-form-contact">
          <div class="bn-label-form">
            <label for="user-name" class="bn-label-tittle">Personal information</label>
            <div class="bn-input">
              <input
                class="bn-input-form"
                id="user-name"
                type="text"
                name="user-name"
                placeholder="Name"
                required
              />
              <input
                class="bn-input-form"
                id="user-name"
                type="text"
                name="user-name"
                placeholder="Surname"
                required
              />
            </div>
          </div>
          <div class="bn-label-form">
            <label class="bn-label-tittle">Email</label>
            <div class="input-icon">
              <input
                class="bn-input-form"
                id="user-mail"
                type="email"
                name="e-mail"
                placeholder="Enter your e-mail"
                required
              />
            </div>
          </div>
          <div class="reviews-input-phone">
            <div class="reviews-input-svg">
              <svg width="32" height="24">
                <use href="./images/icons.svg#icon-flag"></use>
              </svg>
              +48
            </div>
            <div class="reviews-phone-container">
              <label for="phone"
                ><input
                  id="phone"
                  type="tel"
                  name="phone"
                  pattern="[0-9]{9}"
                  title="Please enter a valid phone number with 9 digits"
                  placeholder="Phone number"
                  class="reviews-input reviews-input-tel"
                  required
              /></label>
            </div>
          </div>
          <div class="bn-label-form">
            <label class="bn-label-tittle">Card number</label>
            <div class="bn-input-icon">
              <input
                class="bn-input-form"
                id="user-phone"
                type="tel"
                name="phone"
                placeholder="Enter card"
                required
              />
            </div>
          </div>
          <div class="bn-label-form">
            <label for="user-comment" class="bn-label-tittle">Comment</label>
            <textarea
              id="user-comment"
              class="bn-textarea"
              name="user-comment"
              placeholder="Enter text"
              required
            ></textarea>
          </div>
          <button type="submit" class="bn-submit-button">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>
