<section class="how-its-made-section" id="him">
  <h2 class="him-header">HOW IT'S <span class="him-span">MADE?</span></h2>
  <div class="him-div">
    <div class="him-video-div">
      <iframe
        width="600"
        height="400"
        src="https://www.youtube.com/embed/DISjdfkSjc8?si=cEnDDiirD9A5pfj7"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
    <div class="him-content">
      <p class="him-content-text">
        Try our chocolates today and <br />discover the perfect balance of flavor
      </p>
      <ul class="him-content-list list">
        <li class="him-content-item">
          <div class="him-svg">
            <svg height="8" width="8">
              <use href="/src/images/how-its-made/elipse.svg#icon-ellipse"></use>
            </svg>
          </div>
          Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa powder.
        </li>
        <li class="him-content-item">
          <div class="him-svg">
            <svg height="8" width="8">
              <use href="/src/images/how-its-made/elipse.svg#icon-ellipse"></use>
            </svg>
          </div>
          At the same time, prepare a water bath. Melt the butter on it..
        </li>
        <li class="him-content-item">
          <div class="him-svg">
            <svg height="8" width="8">
              <use href="/src/images/how-its-made/elipse.svg#icon-ellipse"></use>
            </svg>
          </div>
          "Mix" the milk mixture and already liquid butter. Mix thoroughly with a silicone spatula
          so that the mass becomes uniform and silky.
        </li>
        <li class="him-content-item">
          <div class="him-svg">
            <svg height="8" width="8">
              <use href="/src/images/how-its-made/elipse.svg#icon-ellipse"></use>
            </svg>
          </div>
          Heat the mixture over low heat, letting it barely boil.
        </li>
        <li class="him-content-item">
          <div class="him-svg">
            <svg height="8" width="8">
              <use href="/src/images/how-its-made/elipse.svg#icon-ellipse"></use>
            </svg>
          </div>
          Pour the chocolate into special containers (can be replaced with ice molds). Allow to cool
          and harden.
        </li>
      </ul>
    </div>
  </div>
</section>
