.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*===================Desktop====================*/

@media screen and (min-width: 1200px) {
  .adv-cont {
    margin: 0 auto;
    margin-top: 72px;
    display: flex;
    justify-content: center;

    max-width: 1200px;
  }

  .adv-font {
    font-family: Montserrat, sans-serif;
    line-height: normal;
  }

  .adv-bacground {
    background: #1e1823;
  }

  .adv-list-nodot {
    list-style: none;
  }

  .adv-list-cont {
    gap: 70px;
    padding: 50px;
    display: flex;
  }

  .adv-point-cont {
    max-width: 326px;

    padding-right: 18px;
    position: relative;
  }

  .adv-point-cont::before {
    content: '';
    position: absolute;
    top: 25%;
    bottom: 25%;
    right: 0;
    transform: translateX(-50%);
    width: 1px;
    background: rgba(255, 255, 255, 0.5);
    height: 124px;
  }

  .adv-last-point-cont {
    max-width: 308px;
  }

  .adv-svg {
    border-radius: 50%;

    border: 1px solid rgba(255, 255, 255, 0.5);

    width: 62px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7.303px;
  }

  .adv-header-cont {
    padding-top: 22px;
    margin: 0;
  }

  .adv-header-font {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
  }

  .adv-par-cont {
    padding-top: 18px;
    margin: 0px;
    letter-spacing: -0.28px;
  }

  .adv-par-font {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.28px;
    font-style: normal;
  }
}
/*===================Tablet====================*/

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .adv-cont {
    margin: 50px auto;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
  }

  .adv-font {
    font-family: Montserrat, sans-serif;
    line-height: normal;
  }

  .adv-bacground {
    background: #1e1823;
  }

  .adv-list-nodot {
    list-style: none;
  }

  .adv-list-cont {
    gap: 32px;
    padding: 50px 30px;
    display: flex;
    flex-wrap: wrap;
    max-width: 768px;
  }

  .adv-point-cont {
    max-width: 326px;
    padding-right: 18px;
    position: relative;
  }

  .adv-last-point-cont {
    max-width: 308px;
  }

  .adv-svg {
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 62px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7.303px;
  }

  .adv-header-cont {
    padding-top: 22px;
    margin: 0;
  }

  .adv-header-font {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
  }

  .adv-par-cont {
    padding-top: 18px;
    margin: 0px;
    letter-spacing: -0.28px;
  }

  .adv-par-font {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
  }
}

/*===================Mobile====================*/

@media screen and (max-width: 768px) {
  .adv-cont {
    margin: 90px auto;
    margin-bottom: 0;
    display: flex;
    justify-content: center;

    min-width: 376px;
  }

  .adv-font {
    font-family: Montserrat, sans-serif;
    line-height: normal;
  }

  .adv-bacground {
    background: #1e1823;
  }

  .adv-list-nodot {
    list-style: none;
  }

  .adv-list-cont {
    gap: 32px;
    padding: 50px 30px;
    display: flex;
    flex-wrap: wrap;
    min-width: 326px;
    max-width: 500px;
    justify-content: center;
  }

  .adv-point-cont {
    width: 326px;
    padding-right: 18px;
    position: relative;
  }

  .adv-last-point-cont {
    max-width: 308px;
  }

  .adv-svg {
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 62px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7.303px;
  }

  .adv-header-cont {
    padding-top: 22px;
    margin: 0;
  }

  .adv-header-font {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
  }

  .adv-par-cont {
    padding-top: 18px;
    margin: 0px;
    letter-spacing: -0.28px;
  }

  .adv-par-font {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
  }
}
