img {
  display: block;
  max-width: 100%;
  height: auto;
}
:root {
  --orange-color: var(--ORANGE, #fd9222);
  --black-color: var(--BLACK, #111);
  --white-color: var(--WHITE, #fafafa);
  --light-orange: var(--LIGHT-ORANGE, #fcf1e0);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* --------MOBILE----------- */
@media screen and (min-width: 375px) and (max-width: 767px) {
  .our-products-section {
    background-color: var(--white-color);
    padding: 72px 20px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
  }
  .our-products-section-title {
    color: var(--black-color);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.6px;
    text-transform: uppercase;
    margin-bottom: 32px;
  }
  .our-products-section-title-span {
    color: var(--orange-color);
  }
  .our-products-container {
    display: flex;
    max-width: 335px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }
  .our-products-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .our-products-list {
    display: flex;
    padding: 32px 52px 32px 53px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .our-products-item {
    display: none;
  }
  .our-products-item:first-child {
    display: flex;
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    background: #fff;
    padding: 32px 52px 32px 53px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .our-products-chocolate {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  .our-products-chocolate-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .our-products-header {
    color: var(--black-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.36px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 8px 0 2px 0;
  }
  .our-products-text {
    color: rgba(17, 17, 17, 0.7);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.24px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 0 18px 0;
  }
  .our-products-price {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: var(--black-color);
    display: flex;
    width: 94px;
    padding: 8px 20px;
    align-items: flex-start;
    gap: 14px;
    border-radius: 100px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    background: var(--white-color);
  }

  .our-products-item {
    display: none;
  }
  .our-products-item:first-child {
    display: flex;
    padding: 32px 52px 32px 53px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    background: #fff;
  }
}
/* -----------TABLET-------------- */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-products-section {
    background-color: var(--white-color);
    padding: 0 32px 32px;
  }
  .our-products-section-title {
    color: var(--orange-color);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
    margin: 0 0 50px;
  }
  .our-products-section-title-span {
    color: var(--black-color);
  }
  .our-products-container {
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 18px;
    flex-shrink: 0;
  }
  .our-products-chocolate {
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    background: #fff;
    padding: 32px 20px;
  }
  .our-products-item-hidden {
    display: none;
  }
  .our-products-item-hidden-tablet {
    display: none;
  }
  .our-products-chocolate-container {
    display: block;
    justify-content: center;
    align-items: center;
  }
  .our-products-header {
    color: var(--black-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.36px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 8px 0 2px 0;
  }
  .our-products-text {
    color: rgba(17, 17, 17, 0.7);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.24px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 0 18px 0;
  }
  .our-products-price {
    border-radius: 100px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    background: var(--white-color);
    width: 94px;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    margin: 0 auto;
    color: var(--black-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .our-products-item {
    flex-basis: calc((100% - 72px) / 2);
  }
  .our-products-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 18px;
    align-items: center;
    margin: 0 auto;
  }
}
/* ---------------DESKTOP-------------- */
@media screen and (min-width: 1200px) {
  .our-products-section {
    background-color: var(--white-color);
    padding: 0 32px 32px 32px;
  }
  .our-products-section-title {
    color: var(--orange-color);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
    margin: 0 0 50px 0;
  }
  .our-products-section-title-span {
    color: var(--black-color);
  }
  .our-products-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1136px;
    gap: 18px;
    flex-shrink: 0;
    margin: 0 auto;
    padding: 0;
  }
  .our-products-item-hidden {
    display: none;
  }
  .our-products-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  .our-products-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 18px;
    align-items: center;
    margin: 0 auto;
  }
  .our-products-chocolate {
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    background: #fff;
    padding: 32px 20px;
  }
  .our-products-chocolate-container {
    display: block;
    justify-content: center;
    align-items: center;
  }
  .our-products-header {
    color: var(--black-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.36px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 8px 0 2px 0;
  }
  .our-products-text {
    color: rgba(17, 17, 17, 0.7);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.24px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 0 18px 0;
  }
  .our-products-price {
    border-radius: 100px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    background: var(--white-color);
    width: 94px;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    margin: 0 auto;
    color: var(--black-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
